.textbox h3 {
  text-transform: uppercase;
}
.textbox.tryit {
  background-color: #f7eefc;
  border-radius: 4px;
  margin-top: 15px;
  padding: 2% 3% !important;
  float: none;
}
.textbox.tryit h3 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #5f3f7d;
  color: #fff;
  margin: -2% -3% 15px;
  padding: 15px 0;
  text-align: center;
}
